.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ccc;
}

.App-link {
  color: #61dafb;
}

.App-task {
  color: #555;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 15px;
  margin-right: 10px;
  width: 300px;
  transition: 0.33s;
}

.App-task-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.App-task:hover {
  background-color: #355C7D;
  border-color: #eee;
  color: #fff;
}

.App-footer {
  margin-top: 2.5em;
  color: #999;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
